@import url('https:fonts.googleapis.com/css2?family=Freeman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    font-family: "Freeman", sans-serif;
}

header{
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    right: 0;
    background-color: #2D836D;
    justify-content: space-between;
    padding: 20px 7px;
    display: flex;
    align-items: center;
    color:white;
}
header .logo{
    font-size: 25px;
    color: white;
}
header .navbar ul {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left ;
}
header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color:white;
    display: block;
}
header .navbar ul li a:hover {
    background-color: #FFDEDA;
    color:#2D836D
    
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #2D836D;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(155, 153, 153);
}
header .navbar ul li ul li ul{
    left:200px;
    top:0;
}
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label {
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: none;

}
#main h2{
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    color:rgb(54, 54, 54)
}
#main h3{
    font-size: 25px;
    text-align: center;
    color:rgb(54, 54, 54)
}
.cuadros-container{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}
.cuadros-img{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    border: solid 2px #2D836D;
}
.cuadros p{
    font-size: 23px;
    text-align: center;
}
#main h4{
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
    color:rgb(54, 54, 54)
}
.click{
    width: 50px;
    position: absolute;
    right: 40%;
}


    /* FORMULARIO MATERIALES*/

@media(min-width:620px)and(max-width:991px){
    header {
        padding: 20px;
    }
    header label {
        display: initial;
    }
    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        background-color: #2D836D;
        border-top: 1px solid rgb(100, 98, 98);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul {
        
        position: relative;
        width: 100%;
        transition: all 0.3s ease; 
    }
    header .navbar ul li ul li{
        background-color: #e9b4af;
        height: 50px;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar {
        display: inline-block; /* Muestra el checkbox solo en dispositivos móviles */
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    #main h2{
        margin-top:120px;
    }
    .cuadros-container{
        flex-direction: column;
        gap:50px
    }
    .cuadros{
        margin-left: 90px;
        display: flex;
        gap:20px;
    }
    .cuadros p{
        margin-top: 100px;
    }
}



@media(min-width:1100px) and (max-width:1400px) {
    #main h2{
        margin-top: 160px;
    }
    .cuadros-container{
        margin-top: 70px;
    }
    .cuadros-img{
        width: 300px;
        height: 200px;
    }
    #main h4{
        margin-top: 20px;
    }
    .click{
        width: 40px;
    }
}
@media(max-width:618px){
    header {
        padding: 20px;
    }
    header label {
        display: initial;
    }
    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        background-color: #2D836D;
        border-top: 1px solid rgb(100, 98, 98);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul {
        
        position: relative;
        width: 100%;
        transition: all 0.3s ease; 
    }
    header .navbar ul li ul li{
        background-color: #e9b4af;
        height: 50px;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar {
        display: inline-block; /* Muestra el checkbox solo en dispositivos móviles */
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    #main h2{
        margin-top:100px;
    }
    .cuadros-container{
        flex-direction: column;
        gap:50px
    }
    .cuadros{
        margin-left: 50px;
        display: flex;
        gap:10px;
    }
    .cuadros p{
        margin-top: 50px;
        margin-left: 0;

    }
    .cuadros-img{
        width: 220px;
        height: 150px;
        margin-left: 0;
    }
}
